In [5]:
# Standard imports
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import os
sys.path.append(os.path.abspath('../src'))

# Our custom module
from data_loader import fetch_asset_data
from preprocessing import inspect_asset, clean_missing_values, normalize_close_column

# Plot settings
plt.style.use("seaborn-v0_8-darkgrid")
sns.set_context("notebook")

In [2]:
# Define tickers and dates
tickers = ['TSLA', 'SPY', 'BND']
start_date = '2015-07-01'
end_date = '2025-07-31'

# Fetch data safely
data_dict, adj_close = fetch_asset_data(tickers, start_date, end_date)

# Save to CSV
import os
os.makedirs("../data/raw", exist_ok=True)

for ticker in tickers:
    if ticker in data_dict:
        data_dict[ticker].to_csv(f"../data/raw/{ticker}.csv")

adj_close.to_csv("../data/raw/adj_close.csv")

c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\data_loader.py:18: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)
c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\data_loader.py:18: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)
c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\data_loader.py:18: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start_date, end=end_date, progress=False)

In [3]:

# Reload individual CSVs
tsla_df = pd.read_csv("../data/raw/TSLA.csv", parse_dates=['Date'], index_col='Date')
spy_df = pd.read_csv("../data/raw/SPY.csv", parse_dates=['Date'], index_col='Date')
bnd_df = pd.read_csv("../data/raw/BND.csv", parse_dates=['Date'], index_col='Date')

# Preview TSLA
tsla_df.head()

                Close       High        Low       Open     Volume Ticker
Date
2015-07-01  17.943333  18.174667  17.856667  18.073999   31518000   TSLA
2015-07-02  18.667999  18.830000  18.220667  18.680000  107458500   TSLA
2015-07-06  18.648001  18.779333  18.420000  18.591999   61828500   TSLA
2015-07-07  17.858667  18.346666  17.384666  18.333332   91576500   TSLA
2015-07-08  16.997334  17.386667  16.954000  17.288000   93316500   TSLA

In [6]:
inspect_asset(tsla_df, "TSLA")
inspect_asset(spy_df, "SPY")
inspect_asset(bnd_df, "BND")

ðŸ“Š TSLA Summary
Shape: (2535, 6)
Missing values:
 Close     0
High      0
Low       0
Open      0
Volume    0
Ticker    0
dtype: int64
Data types:
 Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
Ticker     object
dtype: object
Duplicated rows: 0
Statistical Summary:

             Close         High          Low         Open        Volume
count  2535.000000  2535.000000  2535.000000  2535.000000  2.535000e+03
mean    131.963002   134.960429   128.837831   132.000600  1.141789e+08
std     120.914904   123.783736   117.996631   121.034152  7.332146e+07
min       9.578000    10.331333     9.403333     9.488000  1.062000e+07
25%      18.967667    19.279667    18.575334    18.901000  6.908220e+07
50%      94.571335    97.666664    91.734001    94.400665  9.537450e+07
75%     236.761665   240.881668   232.170006   235.851669  1.322551e+08
max     479.859985   488.540009   457.510010   475.899994  9.140820e+08

ðŸ“Š SPY Summary
Shape: (2535, 6)
Missing values:
 Close     0
High      0
Low       0
Open      0
Volume    0
Ticker    0
dtype: int64
Data types:
 Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
Ticker     object
dtype: object
Duplicated rows: 0
Statistical Summary:

             Close         High          Low         Open        Volume
count  2535.000000  2535.000000  2535.000000  2535.000000  2.535000e+03
mean    334.193732   335.981618   332.114635   334.125537  8.503521e+07
std     126.427705   127.053090   125.661288   126.391139  4.428796e+07
min     155.869812   156.926792   153.758470   155.426561  2.027000e+07
25%     230.083183   234.024893   228.661726   231.007839  5.779150e+07
50%     305.264435   306.143488   302.033069   304.715012  7.451530e+07
75%     420.350494   423.114913   417.754468   420.117512  9.789180e+07
max     637.099976   638.669983   635.539978   638.349976  5.072443e+08

ðŸ“Š BND Summary
Shape: (2535, 6)
Missing values:
 Close     0
High      0
Low       0
Open      0
Volume    0
Ticker    0
dtype: int64
Data types:
 Close     float64
High      float64
Low       float64
Open      float64
Volume      int64
Ticker     object
dtype: object
Duplicated rows: 0
Statistical Summary:

             Close         High          Low         Open        Volume
count  2535.000000  2535.000000  2535.000000  2535.000000  2.535000e+03
mean     68.469189    68.571174    68.364920    68.471392  4.434376e+06
std       4.554601     4.563590     4.544724     4.555994  2.899511e+06
min      60.779140    60.899424    60.764104    60.786660  0.000000e+00
25%      64.654358    64.731246    64.570637    64.660594  2.182050e+06
50%      67.604897    67.749361    67.474050    67.589058  4.121100e+06
75%      71.891129    72.018943    71.780704    71.886224  5.890100e+06
max      77.318275    77.413314    77.283711    77.378757  3.396300e+07

In [7]:
# Use interpolation for small gaps
tsla_df_clean = clean_missing_values(tsla_df, method='interpolate')
spy_df_clean = clean_missing_values(spy_df, method='interpolate')
bnd_df_clean = clean_missing_values(bnd_df, method='interpolate')

c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\preprocessing.py:22: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  return df.interpolate(method='linear')
c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\preprocessing.py:22: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  return df.interpolate(method='linear')
c:\Users\filimon.hailemariam\Downloads\Week 11\GMF-investment-portfolio-management\src\preprocessing.py:22: FutureWarning: DataFrame.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  return df.interpolate(method='linear')